.main {
  position: relative;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: "inspiration", Arial, sans-serif;
  font-weight: 700;
}
.content h1,
.content h2,
.content h3 {
  font-weight: 700;
  line-height: 2;
}

.photos {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
.photoMen {
  position: absolute;
  top: -20px;
  left: 20%;
  width: 430px;
}
.photoWomen {
  position: absolute;
  top: -34px;
  right: 20%;
  width: 400px;
}

@media (min-width: 320px) {
  .photos {
    height: 300px;
  }
  .photoMen {
    left: 0;
    width: 271px;
    z-index: 1;
  }
  .photoWomen {
    right: 0;
    width: 257px;
  }
}

@media (min-width: 460px) {
  .photoMen {
    left: 2%;
  }
  .photoWomen {
    right: 2%;
  }
}

@media (min-width: 576px) {
  .photos {
    height: 400px;
  }
  .photoMen {
    left: 0;
    width: 325px;
  }
  .photoWomen {
    right: 0;
    width: 306px;
  }
}
@media (min-width: 768px) {
  .photoMen {
    left: 7%;
  }
  .photoWomen {
    right: 7%;
  }
}
@media (min-width: 992px) {
  .photoMen {
    left: 20%;
  }
  .photoWomen {
    right: 20%;
  }
}

@media (min-width: 1200px) {
  .photoMen {
    left: 25%;
  }
  .photoWomen {
    right: 25%;
  }
}
